.button {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    gap: 8px;
    border-radius: 12px;
    border-width: 2px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
    background: #7B6EF6;
    border: 2px solid #7B6EF6
}